<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UniversalHelmod.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UniversalHelmod.Properties.Settings>
            <setting name="SatisfactoryFolder" serializeAs="String">
                <value>C:\Steam\steamapps\common\Satisfactory</value>
            </setting>
            <setting name="StationeersFolder" serializeAs="String">
                <value>C:\Steam\steamapps\common\Stationeers</value>
            </setting>
        </UniversalHelmod.Properties.Settings>
    </userSettings>
</configuration>